/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 600px) {
  /* Global styles */
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  button {
    padding: 7px 15px;
    font-weight: 300px;
    font-size: 15px;
  }

  button:hover {
    letter-spacing: 3px;
  }

  section {
    margin: 25px 0;
  }

  /* ==== HEADER SECTION ==== */
  header {
    min-height: 60vh;
  }

  .navbar {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .logo {
    justify-content: center;
    margin: 0 auto;
  }

  nav > ul {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  nav > ul > li {
    display: inline-block;
    font-weight: 400;
    margin: 0 7px;
  }

  /* ==== BANNER SECTION ==== */
  .banner {
    padding: 50px 20px;
  }

  /* ==== EVENTS SECTION ==== */
  .events-parent {
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
  }

  .event > img {
    height: 250px;
  }

  /* ==== EXPLORE THE WORLD SECTION ==== */
  .explore-world-main {
    min-height: 40vh;
  }

  .explore-world-parent {
    display: block;
    padding: 40px 20px;
  }

  .explore-world {
    width: 100%;
    text-align: center;  
  }

  .explore-world > p{
    text-align: justify;
    margin-bottom: 23px;
  }

  /* ==== TOURS SECTION ==== */
  .tours-parent {
    padding: 0 20px 0 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }

  .tours > .learn-more {
    display: inline-block;  
    margin-bottom: 20px;
  }

  .lm-mobile {
    margin: 0 auto;
  }

  .tours > img {
    object-fit: cover;
    height: 350px;
  }

  /* ==== FOOTER SECTION ==== */
  footer {
    padding: 20px;
  }
  
  footer > p {
    margin: 20px;
  }
  
  .fab {
    font-size: 25px;
  }
}

/* Small devices (portrait tablets and large phones, 481px up to 769px) */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  body {
    background-color: blue;
  }
}

